* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Work Sans", sans-serif;
	color: #444343;
	font-size: 16px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #151414;
	font-weight: 700;
	line-height: 1.2;
}

h1 {
	font-size: 40px;
	margin-bottom: 24px;
}
h2 {
	font-size: 30px;
	margin-bottom: 20px;
}
h3 {
	font-size: 25px;
	margin-bottom: 18px;
}

p {
	margin-bottom: 16px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Main container Style */
.container {
	margin: 0 auto;
	width: 1140px;
}

/* Button styles */
button {
	border: 0;
	margin: 16px 0;
}
.btn {
	font-size: 20px;
	font-weight: 600;
	padding: 20px 26px;
	border-radius: 5px;
}
.btn.primary {
	background-color: #f15b22;
	color: #fff;
}
.btn.secondary {
	border-color: #fff;
	color: #f15b22;
}

/* Section Heading */
.section-heading {
	text-align: center;
	margin-bottom: 50px;
}

/* Form Styles */
form input[type="text"],
form input[type="email"],
form input[type="button"] {
	border: 0;
	font-size: 18px;
	border-radius: 8px;
	padding: 20px;
	margin-bottom: 16px;
}

/* Header */
.banner {
	background-image: url(images/banner/banner2.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
	display: flex;
	align-items: center;
}

.banner .text-box {
	width: 470px;
	float: right;
	text-align: right;
}

.banner h1 {
	font-weight: 700;
	font-size: 65px;
	line-height: 76px;
	margin-bottom: 24px;
}

/* My Skills */
.my-skills {
	display: flex;
	justify-content: center;
	align-items: center;
}

.my-skills .skill {
	height: 200px;
	width: 33.3%;
	background-color: #16d887;
	color: #f2f2f2;
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.skill-name {
	color: #fff;
	margin-bottom: 20px;
}
.my-skills .skill.one {
	background-color: #474787;
}
.my-skills .skill.two {
	background-color: #34ace0;
}
.my-skills .skill.three {
	background-color: #218c74;
}

/* Previous Year Styles */
.previous-year {
	padding: 130px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.previous-year img {
	height: 600px;
}
.previous-year .text {
	width: 365px;
}
.previous-year i {
	color: #16d887;
}
.previous-year li {
	line-height: 2.2;
}

/* My Plans Styles */
.my-plans {
	display: flex;
	justify-content: center;
}
.my-plans h1 {
}
.plan {
	text-align: center;
	padding: 0 30px;
}
.plan h2 {
	margin-bottom: 16px;
}
.plan p {
	font-size: 25px;
	color: #737272;
}

/* Call Now */
.call-now {
	background-image: linear-gradient(
			to right,
			#f15b22 0%,
			rgba(241, 91, 34, 0) 100%
		),
		url(images/watch.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 64px;
	border-radius: 8px;
	margin: 130px 0;
}
.call-now h1 {
	color: #fff;
	width: 460px;
}

/* Footer */
footer {
	background-color: #151414;
	color: #fff;
	padding: 130px 0;
}

footer h1,
footer h3 {
	color: #fff;
}
.footer-content {
	display: flex;
	justify-content: space-between;
}
.footer-content .about,
.footer-content .newsletter {
	width: 41%;
}

.social-icons {
	display: flex;
}
.social-icons li {
	margin-right: 16px;
}

.newsletter h3 {
	margin-bottom: 32px;
}
.footer-form input[type="email"] {
	border: 1px solid #fff;
	background-color: transparent;
}
.footer-form input[type="button"] {
	border: 1px solid transparent;
}
